.Cart {
  display: flex;
  align-items: center;
  gap: 20px;
}

.Cart-preview {
  display: flex;
  gap: 15px;
  font-family: Arial;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}

.Cart-empty {
  padding: 10px;
  font-family: Arial;
  font-size: 24px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0em;
  text-align: center;
}

.Cart-summary {
  padding: 20px 100px 0 20px;
  font-family: Arial;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: right;
  white-space: nowrap;
}

.Cart-summary span {
  padding-left: 53px;
}