.ProductLink {
  font-family: Arial;
  font-size: 16px;
  color: #000000;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  text-decoration: none;
  transition: border-bottom .3s ease;
}

@media(min-width: 768px) {
  .ProductLink:hover {
    border-bottom: 1px solid #000000;
  }
}